<%- include header %>
    <script src="/js/timer.js"></script>
  </head>
  <body>
    <div id="container">
        <span>{m}</span>
               :
        <span>{s}</span>
    </div>
    <audio src="/music/bell_ring.mp3" id="music">当前浏览器不支持audio</audio>
    <script>
        var TIMER1 = 25 * 60;//工作时间
        var TIMER2 = 3 * 60;//休息时间
        var el = document.getElementById('container');
        var timer = time(el,TIMER1,function(){
            alert('倒计时完成!');
        });
        setTimeout(function(){
            var mp3 = document.getElementById('music');
            mp3.play();
        },1000);
    </script>
<%- include footer %>